@model DocumentDb.Pictures.Models.PictureItem

<div class="col-sm-4 col-md-3 picture-item">
    <bootstrap-thumbnail>
        @await Component.InvokeAsync("PictureItemImage", new { item = Model })
        <div class="caption">
            <div>@Model.Title</div>
            <hr />
            <div>
                <a class="btn btn-default btn-sm" asp-controller="Pictures" asp-action="Edit" asp-route-id="@Model.Id" asp-route-category="@Model.Category">Edit</a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-sm" bootstrap-toggle-modal="remove-@Model.Id" asp-controller="Pictures">Delete</button>
            </div>
        </div>
    </bootstrap-thumbnail>
</div>
@using (Html.BeginForm("Delete", "Pictures", new { id = Model.Id, category = Model.Category }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <bootstrap-modal id="remove-@Model.Id" size="md">
        <bootstrap-modal-header>
            <bootstrap-button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></bootstrap-button>
            <h4 class="modal-title">Delete</h4>
        </bootstrap-modal-header>
        <bootstrap-modal-body>
            <h5>Are you sure you want to remove @Model.Title ?</h5>
        </bootstrap-modal-body>
        <bootstrap-modal-footer>
            <bootstrap-button type="button" class="btn btn-default" data-dismiss="modal">Close</bootstrap-button>
            <bootstrap-button type="submit" class="btn btn-danger">Remove</bootstrap-button>
        </bootstrap-modal-footer>
    </bootstrap-modal>
}